@model PF_Pach_OS.Models.Insumo
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="~/css/compras.css" rel="stylesheet" />
<script src="~/js/insumos/editarinsumo.js"></script>

<div class="modal-body">
    <form asp-action="GuardarEdicionInsumo" class="needs-validation" id="editarInsumoForm" novalidate>
        <input type="hidden" asp-for="IdInsumo" />

        <div class="form-group">
            <label asp-for="NomInsumo">Nombre del Insumo</label>
            <input asp-for="NomInsumo" type="text" class="form-control" id="NomInsumoEditar" name="NomInsumo" required title="Ingresa el nombre del insumo que quieres crear">
            <div id="nombreFeedbackEitar" class="invalid-feedback">
                Por favor, ingresa el nombre del insumo que quieres crear.
            </div>
            <div class="valid-feedback">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CantInsumo">Cantidad del Insumo</label>
            <input asp-for="CantInsumo" class="form-control" readonly title="Este campo no se puede editar"/>
            <span asp-validation-for="CantInsumo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Medida">Medida</label>
            <input asp-for="Medida" class="form-control" readonly title="Este campo no se puede editar">
            <span asp-validation-for="Medida" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Estado">Estado</label>
            <input asp-for="Estado" class="form-control" readonly title="Este campo no se puede editar">
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary botones-agregar" title="Confirmar edición de insumo">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cancelar edición de insumo">Cancelar</button>
        </div>
    </form>
</div>

