/* Estilo para el campo de búsqueda */
.buscador {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 5.8vh;
    right: 5vh;
    border-radius: 10px;
    transition: all 0.3s ease; /* Agregamos una transición para suavizar el cambio */
    border: none;
    text-align: center; /* Centrar el texto horizontalmente */
}

/* Estilos cuando el campo de búsqueda está enfocado */
.buscador:focus {
    width: 220px;
    transform: translateX(10px);
    box-shadow: 20px 0 20px rgba(0, 0, 0, 0.2);
}


.table-bordered td, .table-bordered th {
    align-items: center;
}

/*Responsivo con maximo de ancho de 280px*/
@media only screen and (max-width: 280px) {
    /* Ajustar el campo de búsqueda */
    input.buscador {
        top: -12vh !important;
        left: 5vh !important
    }
    /* Ajustar el boton de crear */
    .estilo-btn-naranja {
        top: -6vh !important;
        left: 9vh !important
    }

    /* Ajustar la tabla */
    .table {
        font-size: 12px;
    }

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 32.5rem !important;
    }

    /* Ajustar tabla*/
    .table td, .table th {
        padding: 2px; /* Reducir el espaciado entre celdas */
    }

    /* Quitar columna de 'Medida' de la tabla*/
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }
}


/*Responsivo con maximo de ancho de 412px*/
@media screen and (max-width: 414px) {
    /* Ajustar el campo de búsqueda */
    input.buscador {
        top: -10vh;
        left: 10vh
    }

    /* Ajustar el boton de crear */
    .estilo-btn-naranja {
        top: -5vh;
        left: 13vh
    }

    /* Ajustar la tabla */
    .table {
        font-size: 12px; /* Reducir el tamaño de la fuente */
    }

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 34rem
    }

    /* Ajustar la tabla */
    .table td, .table th {
        padding: 2px; /* Reducir el espaciado entre celdas */
    }

    /* Quitar columna de 'Medida' de la tabla*/
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }
}

/*Responsivo con maximo de ancho de 360px*/
@media screen and (width: 360px){
    /* Ajustar el campo de búsqueda */
    input.buscador {
        top: -10vh;
        left: 10vh
    }

    /* Ajustar el boton de crear */
    .estilo-btn-naranja {
        top: -5vh;
        left: 13vh
    }

    /* Ajustar la tabla */
    .table {
        font-size: 12px; /* Reducir el tamaño de la fuente */
    }

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 35rem
    }

    /* Ajustar la tabla */
    .table td, .table th {
        padding: 2px; /* Reducir el espaciado entre celdas */
    }

    /* Quitar columna de 'Medida' de la tabla*/
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }
}

/*Responsivo con maximo de ancho de 912px*/
@media screen and (width: 912px) {

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        height: 34rem;
        width: 50rem
    }
}

/*Responsivo con maximo de ancho de 540px*/
@media screen and (width: 540px) {

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        height: 38.5rem;
        width: 30rem
    }
}

/*Responsivo con maximo de ancho de 768px*/
@media screen and (width: 768px){

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        height: 36rem;
        width: 42rem
    }
}
    
/*Responsivo con maximo de ancho de 820px*/
@media screen and (width: 820px) {

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        height: 35rem;
        width: 45rem
    }
}